trix-toolbar .button-group button {
  &.button-bold::before { background-image: asset-data-url('trix/images/bold.svg'); }
  &.button-italic::before { background-image: asset-data-url('trix/images/italic.svg'); }
  &.button-link::before { background-image: asset-data-url('trix/images/link.svg'); }
  &.button-strike::before { background-image: asset-data-url('trix/images/strike.svg'); }
  &.button-quote::before { background-image: asset-data-url('trix/images/quote.svg'); }
  &.button-code::before { background-image: asset-data-url('trix/images/code.svg'); }
  &.button-bullets::before { background-image: asset-data-url('trix/images/bullets.svg'); }
  &.button-numbers::before { background-image: asset-data-url('trix/images/numbers.svg'); }
  &.button-outdent::before { background-image: asset-data-url('trix/images/block_level_decrease.svg'); }
  &.button-indent::before { background-image: asset-data-url('trix/images/block_level_increase.svg'); }
  &.button-undo::before { background-image: asset-data-url('trix/images/undo.svg'); }
  &.button-redo::before { background-image: asset-data-url('trix/images/redo.svg'); }
}
